<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<style>
    .a {
        background-color: #ECF2FF !important;
    }

    .j {
        background-color: #F4EEE8 !important;
    }
</style>
<div id="search" class="row">
    <div class="column is-two-thirds">
        <div class="columns" v-if="haveResult">
            <div class="card col-md-4" v-for="(ad, index) in ads" v-bind:class="getColor(ad.adType)">
                <img class="card-img-top" :src="ads[index].application_pic_url" alt="Card image cap"
                    style="display: none; width: 100%; height: 15vw; object-fit: cover;"
                    onload="this.style.display='';document.getElementById('loading').style.display='none'"
                    onerror="tryAgain(this)" />
                <div class="card-body">
                    <div class="card-title">
                        <a :href='"/ads/adDetails/"+ad.id'>
                            {{ad.title}}</a>
                    </div>
                    <br>
                    <p class="card-text">{{ad.jobType}}</p>
                    <p class="card-text">{{ad.adType}} (for testing ONLY)</p>
                    <time class="card-text">{{ad.createdAt}}</time>
                    <br><br>
                </div>

                </a>
            </div>
        </div>
        <p></p>
        <br><br><br>

        <h5 class="title is-5" style="text-align: center;">Total Result(s) Found: {{total}}</h5>
        <b-pagination :total="total" v-model="current" :range-before="rangeBefore" :range-after="rangeAfter"
            :order="order" :size="size" :simple="isSimple" :rounded="isRounded" :per-page="perPage"
            :icon-prev="prevIcon" :icon-next="nextIcon" aria-next-label="Next page" aria-previous-label="Previous page"
            aria-page-label="Page" aria-current-label="Current page" @change="fetchData()" v-if="haveResult">
        </b-pagination>

        <div class="columns is-centered" v-if="!haveResult">
            <div class="column is-half" style="text-align: center;">
                <br>
                <strong>No Result Found</strong>
            </div>
        </div>
    </div>
    <div class="column is-one-third card" style="padding: 5em 2em; background-color:#F1F6F5;">
        <h1 class="title" style="text-align: center;">Search</h1>
        <b-field label="Title">
            <b-input v-model="title" placeholder="Keywords search..."></b-input>
        </b-field>
        <b-field label="Ad Type" style="padding-top: 1em;">
            <b-select v-model="adType">
                <option value="">Pick a service you want...</option>
                <option v-for="adType in adTypes" :value="adType">
                    {{ adType }}
                </option>
            </b-select>
        </b-field>
        <b-field label="Schedule Options">
            <b-select v-model="scheduleOptions">
                <option value="">The Frequency of work...</option>
                <option v-for="scheduleOptions in schedule_options" :value="scheduleOptions">
                    {{ scheduleOptions }}
                </option>
            </b-select>
        </b-field>
        <b-field label="Care Type" style="padding-bottom:1em;">
            <b-select v-model="jobType">
                <option value="">Which type of care you're looking for?</option>
                <option v-for="jobType in jobTypes" :value="jobType">
                    {{ jobType }}
                </option>
            </b-select>
        </b-field>
        <div class="control">
            <b-button type="is-success" @click="fetchData()" style="float: right;">Submit</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2"></script>
<!-- Full bundle -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<!-- Individual components -->
<script src="https://unpkg.com/buefy/dist/components/input"></script>

<script>
    new Vue({
        el: '#search',
        data: {
            total: 0,
            ads: [],
            current: 1,
            perPage: 3,
            rangeBefore: 1,
            rangeAfter: 1,
            order: '',
            size: '',
            isSimple: false,
            isRounded: false,
            prevIcon: 'chevron-left',
            nextIcon: 'chevron-right',

            title: '',
            adType: '',
            jobType: '',
            scheduleOptions: '',

            jobTypes: ["HouseKeeper", "Medical Care", "Elderly Care", "Child Care", "Personal Care"],
            adTypes: ["Job", "Availability"],
            schedule_options: ["one-off", "regular"],
            color: {
                "Availability": 'a',
                "Job": 'j',
            }

        },
        mounted: function () {
            this.fetchData();
        },
        computed: {
            haveResult: function () { return this.total > 0 }
        },
        methods: {
            fetchData: async function () {

                var response = await fetch('/search?title=' + this.title + '&adType=' + this.adType + '&scheduleOptions=' + this.scheduleOptions + '&jobType=' + this.jobType + '&perPage=' + this.perPage + '&current=' + this.current);

                if (response.ok) {
                    var json = await response.json();
                    this.ads = json.ads;
                    this.total = parseInt(json.total);
                    console.log(img[1].url);

                } else {
                    alert(response.statusText);
                }
            },

            getColor(adTypes) {

                return this.color[adTypes]
            }
        },
    })
</script>
<script>
    function tryAgain(e) {
        setTimeout(reloadImg, 1000, e);
    }

    function reloadImg(e) {
        var source = e.src;
        e.src = source;
    }
</script>