<div id="welcome" style="background-image: url(/images/welcome.jpg); background-size: 100% auto;">
  <account-notification-banner></account-notification-banner>
  <div class="container" style="padding: 20vw 0; margin-right: 0px; margin-left: auto;">
    <h1 style="font-family: 'Lucida Console', 'Courier New', monospace;">Welcome to HomeCare!</h1>
    <p style="font-family: 'Lucida Console', 'Courier New', monospace;">Start create your Job Ads or Find a care through
      the navbar above</p>
    <hr />
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my Profile</a>
      <a class="btn btn-primary" href="/account/notification">Notifications <span class="badge badge-light"></span></a>
    </div>
  </div>