<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/ads/postAds">Post Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/ads/postTimeslot">Post Availability</a>
            </li>
        </ul>
    </div>
</div>