<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <h1 style="color: #14acc2; padding-bottom: 25px;">HomeCare - Biggest Online Marketplace for Caretakers</h1>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/child.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Card title</a></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">354 Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/elderly.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Card title</a></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">354 Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/nurse.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Card title</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">354 Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/housekeeper.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Card title</a></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">354 Ads In Total</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <div class="pt-5" purpose="setup-section">
      
    </div>
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
