<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <h1 style="color: #14acc2; padding-bottom: 25px;">HomeCare -  Online Marketplace for Caretakers in Hong Kong</h1>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/child.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Child Care</a></h5>
            <p class="card-text">Providing Infant care, babysitting services by professional nannies and babysitters.</p>
            <p class="card-text"><small class="text-muted">35+ Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/elderly.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Elderly Care</a></h5>
            <p class="card-text">Providing care service to elderly included but not limited to one-on-one care, pick-up service.</p>
            <p class="card-text"><small class="text-muted">25+ Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/personal.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Personal Care</a></h5>
            <p class="card-text">Providing service to individuals or business enterprises.</p>
            <p class="card-text"><small class="text-muted">15+ Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/housekeeper.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">HouseKeeper</a></h5>
            <p class="card-text">Proving service including regular home cleaning, move0in cleaning and spring cleaning for home.</p>
            <p class="card-text"><small class="text-muted">100+ Ads In Total</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/nurse.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="/login">Medical Care</a></h5>
            <p class="card-text">Prviding Health care service including rehabilitation, escort service by professional and well-trained caregivers.</p>
            <p class="card-text"><small class="text-muted">15+ Ads In Total</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <div class="pt-5" purpose="setup-section">
      
    </div>
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
